#!/usr/bin/env bash

function ssh-docker() {
   docker exec -it "$@" bash
}

function silent() {
   "$@" >& /dev/null
}

function display_notification() {
   osascript -e "display notification \"$3\" with title \"$1\" subtitle \"$2\""
}