[core]
	editor = nano
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	ignorecase = false

[push]
	default = simple
    
[user]
	name = Angel Manchev
	email = angel@manchev.pro

[github]
	user = mandotpro

[color]
	ui = true

[commit]
	verbose = true

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]
	added = yellow
	changed = green
	untracked = cyan